<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ismod" value="0"/>
    <add key="isbackup" value="0"/>
    <add key="steamid" value="-1"/>
    <add key="path" value=""/>
    <add key="cursth0" value=""/>
    <add key="cursth1" value=""/>
  </appSettings>
</configuration>